{% extends 'base.html' %}

{% block title %}Editar Documento{% endblock %}

{% block content %}
<div class="container float-start card mb-4">
    <div class="card-body">
        <h3 class="card-title">Editar Documento</h3>
        <form action="{% url 'document_update' object.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Confirmar Edição</button>
        </form>
    </div> 
</div>
<a href="{% url 'document_list' %}" class="btn btn-light">Voltar para a listagem de documentos</a>
{% endblock %}